{% extends 'front/base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}<title>BideoGamu</title>{% endblock %}

{% block body %}
    <div class="menu">
        <div class="cadre">

            <h2 class="titreadmin">GAMES</h2>

            <div class="modif">
                <a href="{{ path('adminvideogames_new') }}">
                    <i class="fas fa-plus"></i>
                    <p>add new game</p>
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class="modif">
                <a href="{{ path('adminvideogames_show') }}">
                    <i class="fas fa-plus"></i>
                    <p>edit a game</p>
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>

        <div class="cadre">

            <h2 class="titreadmin">CATEGORIES</h2>

            <div class="modif">
                <a href="{{ path('admincategory_new') }}">
                    <i class="fas fa-plus"></i>
                    <p>add new categories</p>
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class="modif">
                <a href="{{ path('admincategory_show') }}">
                    <i class="fas fa-plus"></i>
                    <p>edit a categories</p>
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}