{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/admin/accueil.css">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="btn">
        <a href="{{ path('adminvideogames_new') }}"><button class="btn">Add new game</button></a>
        <a href="{{ path('adminvideogames_show') }}"><button class="btn">Edit a game</button></a>
    </div>

    <div class="btn">
        <a href="{{ path('admincategory_new') }}"><button class="btn">Add new categories</button></a>
        <a href="{{ path('admincategory_show') }}"><button class="btn"> Edit a categories</button></a>
    </div>
{% endblock %}