{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}

    <div class="global">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class='connexion'>Login to your admin area</h1>

        <div><i class="fas fa-user"></i></div>

        <form action="{{ path('login') }}" method="post">
            <div class='field'>
                <label for="username">Identifiant:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class='field'>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="_password"/>
            </div>

            <input type="hidden" name="_target_path" value="admin"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">login</button>
        </form>

    </div>
{% endblock %}
