/*HOME*/

.toptitle {
    text-align: center;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

.videogames {
    display: flex;
    flex: row;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.videogames img {
    display: flex;
    align-items: center;
}

.full {
    overflow: hidden;
}

.encart {
    box-shadow: 2px 2px 2px grey;
}

.videogames div {
    display: flex;
    flex-direction: column;
    width: 220px;
}

img {
    width: 220PX;
    height: 320PX;
    object-fit: cover;
    transform-origin: center;
    transform: scale(1);
    transition-duration: .5s;
}

img:hover {
    -webkit-transform: scale(1.10);
    /* Safari et Chrome */
    -moz-transform: scale(1.10);
    /* Firefox */
    -ms-transform: scale(1.10);
    /* Internet Explorer 9 */
    -o-transform: scale(1.10);
    /* Opera */
    transform: scale(1.10);
}

p {
    margin: 5px;
}

.redirection {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 2%;
}


/* FRONT GAMES LIST     */

input,
textarea,
select {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    padding: 8px;
    border: 10px solid var(--darky);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

textarea {
    height: 200px;
    font-size: 8px;
}

select {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    gap: 2px;
    padding: 8px;
    border: 10px solid var(--darky);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

button.btn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

select#videogames_category {
    width: 200px;
}

.searchbar button {
    border: none;
}

button {
    border: 10px solid var(--darky);
    font-family: 'Press Start 2P', cursive;
    background-color: var(--secondary-color);
}

.fa-search {
    font-size: 30px;
    color: var(--darky);
}

.fa-search:hover {
    color: var(--secondary-color);
    ;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}


/* FRONT GAME SHOW */

.gamesshow {
    text-align: center;
    padding: 5%;
}


/* FRONT CATEGORY */

.categoryname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    text-align: center;
    font-size: 20px;
}


/*ADMIN - INDEX*/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cadre {
    margin-top: 3%;
    border: black 10px solid;
    width: 50%;
}

.category {
    margin-top: 3%;
    border: black 10px solid;
    width: 50%;
    padding: 2%;
}

.cadre button {
    border: black;
}

.fa-plus:before {
    margin-right: 1%;
    margin-left: 1%;
    font-size: 16px;
    height: 50px;
}

.modif {
    display: flex;
    justify-content: center;
    height: 60px;
}

.modif p {
    white-space: nowrap;
}

.titreadmin {
    margin: 0;
    text-align: center;
    font-family: 'Stylish', sans-serif;
    margin-top: 2%;
    font-size: 30px;
    ;
}

label {
    font-size: 20px;
}


/*ADMIN - ADD GAME*/

.forms {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms input {
    text-align: center;
}


/*ADMIN - SHOW GAMES*/

.encart a {
    color: black;
    display: flex;
    justify-content: center;
}

.full p {
    text-align: center;
}


/*ADMIN - SHOW CATEGORIES*/

.allpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allpage a {
    color: black;
}

.allpage button {
    margin-top: 1%;
}


/*ADMIN - LOGIN */

.field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.global {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.global button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}