{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}
    <div class="toptitle"><p>Modify the category</p></div>

    {{ include('admin/category/_form.html.twig', {'button_label': 'update'}) }}

    {{ include('admin/category/_delete_form.html.twig') }}

    <a class="redirection" href="{{ path('admincategory_show') }}">back to list</a>

{% endblock %}


