{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}
    <div class="allpage">
        <h1>Categories</h1>
            {% for category in categories %}
                <p>{{ category.name }}</p>

                <button><a href="{{ path('admincategory_edit', {'id': category.id}) }}">edit</a></button>
                {{ include('admin/category/_delete_form.html.twig') }}
            {% endfor %}
    </div>
        <a class="redirection" href="{{ path('admin') }}">back to admin home</a>

{% endblock %}
