<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BideoGamu{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/base.css">

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
    <nav class="navbar">
        <a href=""><div class="titre">BideoGamu</div></a>

        <ul class="links">
            <div class="link"><li><a href="{{ path('home') }}"></a>Les jeux</li></div>
            <div class="link"><li><a href="{{ path('home') }}"></a>Se connecter</li></div>
            <div class="link"><li><a href="{{ path('home') }}"></a>S'inscrire</li></div>

            {# <li>
            {% if app.user %}
                <a href="">Se déconnecter</a>
                {{ app.user.email }}
            {% else %}
                <a href="">Se connecter</a>
            {% endif %}
            </li> #}
        </ul>

    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    <footer>

    </footer>
    {% endblock %}
    </body>
</html>
