{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}

    <div class="toptitle"><p>Modify the game</p></div>

    {{ include('admin/videogames/_form.html.twig', {'button_label': 'update'}) }}

    {{ include('admin/videogames/_delete_form.html.twig') }}

    <a class="redirection" href="{{ path('adminvideogames_show') }}">back to list</a>

{% endblock %}
