{% extends 'front/base.html.twig' %}

{% block title %}BideoGamu{% endblock %}

{% block body %}
    <h2 class="titreadmin">Add a new videogame</h2>

    {{ include('/admin/videogames/_form.html.twig') }}

    <a href="{{ path('admin') }}">back to list</a>
{% endblock %}
